# / .gitignore

# Dependencies
node_modules/
.pnpm-store/

# Production Builds & Monorepo Cache
dist/
.turbo/

# Global Environment Secrets
.env
.env.*
!.env.sample

# IDE / System files
.vscode/
.idea/
.DS_Store
*.log