# ==============================================================================
# Application
# ==============================================================================

NODE_ENV=development
PORT=3001

# ==============================================================================
# Database
# ==============================================================================

MONGO_URI=mongodb://mongodb:27017/shopnow-users

# ==============================================================================
# Email (Development)
# ==============================================================================

SMTP_HOST=mailpit
SMTP_PORT=1025